/* Alternate stylesheet for rawdog. But you can still customise it as you like.
 * The .xmlbutton was stolen from the default stylesheet.
 * Samuel Hym <Samuel.Hym@gmail.com> */

body {
    font-family: Georgia,Serif;
    margin: 10px auto auto auto;
    width: 780px;
}

a {
    text-decoration: none;
}

a:link {
    color: #08b;
}

a:visited, a:hover {
    color: #a03;
}

#header {
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ddd;
    color: #888;
    margin-bottom: 10px;
}

#footer {
    clear: both;
}
h2, h3 {
    text-transform: uppercase;
    font-size: 90%;
    color: #888;
}

h2 {
    margin-top: 3em;
}

h3 {
    margin-top: 2em;
}

img {
    border: none;
}

#items {
    margin: 10px;
    width: 500px;
    float: left;
}

.item {
    border-bottom: 1px dotted #ccc;
    padding: 1em;
}

.itemheader {
    font-size: 120%;
    text-align: left;
    color: #a03;
}

.itemheader a, .itemheader a:visited {
    text-decoration: none;
    color: #a03;
}

.itemheader a:hover {
    color: #08b;
}

.itemfrom {
    font-size: 70%;
    text-align: right;
}

#feedstats {
    float: right;
    width: 230px;
    height: 100%;
    text-align: right;
    margin-top: 10px;
}

#barra {
    text-align:center; 
    font-size:small; 
}

#feeds {
    margin: 10px 0;
    border: 1px solid gray;
    border-spacing: 0;
}

#feedsheader TH {
    background-color: #eee;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 0;
}

.feedsrow TD {
    padding: 5px 10px;
    margin: 0;
}

.xmlbutton {
    border: 1px solid;
    border-color: #FC9 #630 #330 #F96;
    padding: 0 3px;
    font: bold 10px sans-serif;
    color: #FFF;
    background: #F60;
    text-decoration: none;
    margin: 0;
}

pre {
    overflow: auto;
    /* white-space: pre-wrap; /* This is for IE and other browsers that just have to be different */
    /* white-space: -moz-pre-wrap; /* This is for FireFox and Mozilla Browsers */
    /* white-space: o-pre-wrap; /* This is for Opera */
}
