body {
background:white;
color:#444444;
font-family:trebuchet ms,luxi sans,sans-serif;
margin:10px auto auto;
padding:0;
width:800px;
}

a {
text-decoration:none;
color: #0044B3;
}

a:hover {
color: green;
text-decoration:underline;

}

#header {
margin:auto;
position:relative;
width:800px;
}


#header h1 {
color:#444444;
font-size:3.75em;
letter-spacing:-1px;
text-align:center;
text-decoration:none;
margin: 0 0;
padding: 0 0;
line-height: 1.5em;
}
#header h1 small { 
font-size: .4em;
margin: 0 0 0 555px;
text-align: left;
font-weight: 400
}

#barra {
background:#81BBF2;
color:#FFF;
font-size:.89em;
height:25px;
line-height:1.8em;
padding:0 6px;
text-align:right;
width:800px;
font-weight: 700;
}

#barra a {
color:#FFF;
text-decoration:none;
}

.day h2,.time h3 {
background:#81BBF2 none repeat scroll 0 0;
color:#FFF;
font-size:.89em;
font-weight:700;
height:25px;
line-height:1.8em;
margin:25px 0 8px;
padding:0 6px;
text-align:right;
width:500px;
}

.itemdescription h2 {
background:#81BBF2 none repeat scroll 0 0;
color:#FFF;
font-size:120%;
}

.time h3 {
background-color:#F0F8FD;
color:#444444;
padding: 4px;
text-align:left;
display:inline;
}


img {
border:none;
max-width: 95%;
}

#items {
float:left;
width:500px;
}

.item {
border-bottom:1px dotted #1D1801;
padding:.2em;
margin-bottom: 8px;
}

.itemtitle {
color:#444444;
font-size:1em;
font-weight:700;
text-decoration:none;
}

.itemtitle a {
font-weight:400;
text-decoration:none;
color: #0044B3;
}

.itemtitle a:hover{
color: green;
text-decoration:underline;
}

.itemdescription {
font-size:.81em;
line-height:1.7em;
}

#feedstats {
float:right;
height:100%;
margin-top:10px;
text-align:right;
width:230px;
}

#feeds {
border:1px solid gray;
border-spacing:0;
margin:10px 0;
}

.xmlbutton {
background:#F60;
border:1px solid;
border-color:#FC9 #630 #330 #F96;
color:#FFF;
font:bold 10px sans-serif;
margin:0;
padding:0 3px;
text-decoration:none;
}

#chivo {
border-bottom:1px dotted #444444;
margin:0 0 30px;
}

#chivo p a {
font-weight:700;
}

#grazr a {
text-decoration:none;
}

#feedstatsheader {
margin:60px 0 0;
width:230px;
}

#feedlist {
float:right;
width:200px;
}

#feedlist a {
color:#444444;
font-family:Verdana,Geneva,Tahoma,sans-serif;
font-size:.69em;
margin:0 0 3px 3px;
text-align:right;
text-decoration:none;
}

#feedlist a:hover {
background-color:#F0F8FD;
color:#444444;
}

pre {
overflow:auto;
}

#footer {
clear:both;
}

#footer p {
font-size:.69em;
}

#footer #aboutrawdog {
padding-top:40px;
}
